<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.mytime.dao.AlbumMapper">
	<resultMap id="AlbumResultMap" type="com.zero.mytime.damain.Album">
		<result property="id" column="id" jdbcType="INTEGER"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
		<result property="userId" column="user_id" jdbcType="VARCHAR"/>
		<result property="description" column="description" jdbcType="VARCHAR"/>
		<result property="model" column="model" jdbcType="VARCHAR"/>
		<result property="cover" column="cover" jdbcType="VARCHAR"/>
		<result property="music" column="music" jdbcType="VARCHAR"/>
		<result property="createTime" column="create_time" jdbcType="VARCHAR"/>
		<result property="updateTime" column="update_time" jdbcType="VARCHAR"/>
		<result property="visitor" column="visitor" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="Base_Column_List">
        id, name, user_id, description, model, cover, music, create_time, update_time, visitor
    </sql>
    
	<!-- 添加相册 -->
	<insert id="insertAlbum" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO album (name, user_id, create_time)VALUE(#{name}, #{userId}, #{createTime})
	</insert>
	
	<!-- 根据用户ID获取相册  -->
	<select id="selectById"  resultMap="AlbumResultMap">
		SELECT id, name, user_id FROM album WHERE user_id = #{id}
	</select>
	
	<!-- 根据创建日期获取相册  -->
	<select id="selectByTime"  resultMap="AlbumResultMap">
		SELECT id, name, user_id, create_time FROM album WHERE create_time = #{createTime}
	</select>
	
	<!-- 根据相册主键删除相册 -->
	<delete id="removeAlbum">
		DELETE FROM album WHERE id = #{id}
	</delete>	
	
	<!-- 查询相册记录总数 -->
    <select id="selectCount" resultType="int">
        select count(*) from album
    </select>
    
    <!-- 查询用户查询后新增记录总数 -->
    <select id="selectNewCount" resultType="int">
        select count(*) from album where create_time > #{createTime}
    </select>
    
	<!-- 根据分页数据start 和size查询数据 -->
    <select id="findByPage" parameterType="Map" resultMap="AlbumResultMap">
        select
        <include refid="Base_Column_List" />
        from album
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>
</mapper>