<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.mytime.dao.AlbumMapper">
	<resultMap type="com.zero.mytime.damain.User" id="AlbumResultMap">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="passWord" column="pwd"/>
		<result property="image" column="image"/>
	</resultMap>
	
	<insert id="insertAlbum" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO album (name, user_id)VALUE(#{name},#{userId})
	</insert>
	
	<select id="selectAlbum"  resultMap="AlbumResultMap">
		SELECT * FROM album WHERE name like 'dk'
	</select>
</mapper>