<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.mytime.dao.TomatoMapper">
	<resultMap type="com.zero.mytime.damain.Tomato" id="tomatoResultMap">
		<result property="id" column="id"/>
		<result property="name" column="task_name"/>
		<result property="startTime" column="start_time"/>
		<result property="finishTime" column="finish_time"/>
		<result property="take" column="take"/>
		<result property="record" column="record"/>
	</resultMap>
	<select id="selectTomato"  resultMap="tomatoResultMap">
		SELECT * FROM task_info WHERE start_time like concat(#{startTime},'%')
	</select>
	
	<insert id="insertTomato" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO task_info (task_name,start_time,finish_time,take)VALUE(#{name},#{startTime},#{finishTime},#{take})
	</insert>
	
	<delete id="deleteTomato">
		DELETE FROM task_info WHERE id = #{id};
	</delete>	
</mapper>